.md-typeset .style-good {
	color: rgb(0, 173, 0);
	font-weight: bold;
	margin-bottom: 0;
}

.md-typeset .style-good + .highlight code {
	margin-top: 0;
	background-color: #ecffe5;
}

.md-typeset .style-bad {
	color: rgb(255, 74, 74);
	font-weight: bold;
	margin-bottom: 0;
}

.md-typeset .style-bad + .highlight code {
	margin-top: 0;
	background-color: #ffecec;
}

.md-typeset .style-exception {
	color: orange;
	font-weight: bold;
	margin-bottom: 0;
}

.md-typeset .style-exception + .highlight code {
	margin-top: 0;
	background-color: #fffaf1;
}